<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>Hello World</title>
</head>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<!-- <script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/app.js"></script> -->
<link href="css/header.css" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet" />
<div class="wrapper">
  <%- include sidebar.ejs %>
  <div class="main-panel">
    <%- include navbar.ejs %>
      <div class="content">
        <div class="container-fluid">
        </div>
      </div>
    </div>
</div>
</html>